

ol.vehicles li 
{
	display: block;
	padding: 10px;
	border: 1px solid #CCCCCC;
	
	color: black;
	//width: 50%;
	clear: both;
	
}
body
{
	font-family: Arial;
	font-size: 12px;
	
	
}
div#search-panel
{
	//display:block;
	
	margin: 20 auto;
    min-height: 600px;
    position: relative;
    z-index: 2;
	width: 80%;
}
li 
{
	list-style: none;
	margin-bottom: 10px;
}

ol.vehicles detail {
	display: block;
}

ol.vehicles li a {
    display: block;
    //padding: 18px 20px 18px 5px;
    text-decoration: none;
	position: relative;
}
span {
	//display: block;
}
ol.vehicles li .image-container {
	position: relative;
}
ol.vehicles li .image-crop-box {
    display: inline-block;
	
}

ol.vehicles li .image-container .index {
    
	background-color: blue;
    
    box-shadow: 0 2px 4px 0 #686868;
    color: red;
    font-size: 14px;
    font-weight: bold;
    height: 18px;
    left: 20px;
    padding-top: 2px;
    position: absolute;
    text-align: center;
    //top: 10px;
    width: 22px;
	//float:left;
}
ol.vehicles li .image-container 
{
	border-left: 1px solid #E1E1E1;
	//float: left;
    
    padding: 20px;
    //position: relative;
	display: inline-block;
}
ol.vehicles li .pricing {
    //position: absolute;
    //left: 0;
    text-align: left;
   	float: left;
	padding-right: 20px;
	display: block;
	
	
}
ol.vehicles li  .pricing .hourly
{
	color: #333333;
    font-size: 24px;
	display: block;
}

ol.vehicles li .pricing .daily {
    color: #999999;
    font-size: 16px;
	display: block;
}


ol.vehicles li .details {
    //display: block;
    overflow: hidden;
	//position: relative;
}
ol.vehicles li .model {
	font-size: 16px;
    font-weight: bold;
    max-width: 260px;
    padding-top: 2px;
	display: inline-block;
	vertical-align: top;
	
}
ol.vehicles li .access {
	position: absolute;
	right: 5px;
	top: 130px;
	
}
ol.vehicle li .model 
{
	margin: 10px;
}

div#searchcaragin
{
	display:block;
	color: #999999;
	margin: 40px;
	
}
div#filterandsorting
{
	margin: 40px;
}

#map				
{ 
	width: 500px; 
	height: 222px;
	top: 207px;
	left: 74px; 
}

#search-panel #sidebar {
    float: right;
	padding-left: 40px;
    
}

 #search-panel #results {
    border-right: 1px solid #CCCCCC;
	padding-right: 85px;
    //padding-bottom: 40px;
    position: relative;
    width: 600px;
	float:right;
	
}
#search-panel #search-again
{
	margin: 40px;
}
 /* Try css for car sharing */
 
 .ride_list
 {
	background-color: #FCFCFC;
    border: 1px solid #A7A7A7;
    border-radius: 6px 6px 6px 6px;
	padding: 5px;
 }
 h3.headline
 {
	border: 1px solid #A7A7A7;
    
	padding: 5px;
	margin: 10px 10px 0px;
 }
 div.entry
 {
	border: 1px solid #A7A7A7;
    
	padding: 5px;
	margin: 0px 10px 10px;
	overflow: hidden;
 }
 div.passenger_box
 {
	float: right;
	display:inline-block;
	height: 65px;
    padding: 6px;
    text-align: center;
    width: 75px;
 }
 div.driver_box
 {
	float: right;
	display:inline-block;
	height: 65px;
    padding: 6px;
    text-align: center;
    width: 75px;
 }
 div.userpic
 {
	float: left;
	display:inline-block;
 }
 div.inner_content
 {
	float: left;
	display:inline-block;
	padding-top: 15px;
    vertical-align: top;
    padding-left: 15px;
	margin-left: auto;
	margin-right: auto;
 }
 .ride_list .entry .userpic img {
    height: 75px;
    width: 75px;
}
p .icon 
{
	
    display: block;
    height: 22px;
    margin: 0 auto 3px;
    width: 24px;
}
.ride_list a:link
{
	text-decoration: none;
}
.ride_list a:visited
{
	color:black;
}


h3 {
    font-size: 18px;
    font-weight: 500;
}
p {
	padding: 5px;
]