
/*
** Cascade Style Sheet for Output HTML
*/

html {
	height:100%;
}

body {
	height:100%;
	margin:0;
	padding:0;
	/*background-image:url('portfelia.jpg');*/
}
	
/* DIV containing Google Map */
#map_canvas {
	height: 100%;
	float: left;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

/* DIV containing results */
#results {
	background-color:#FCFCFC;
	border:1px solid #A7A7A7;
	border-radius:6px 6px 6px 6px;
	padding:5px;
	float:right;
	width:600px;
	height:600px;
	border:1px solid;
	overflow:auto;
	margin-left:auto;
	margin-right:auto;
}

/* DIV containing both the Map and Results */
#mainframe {
	margin-left:25px;
	width:1250px;
	height:600px;
	padding-bottom:30px;
}

/* Price Sorting Pop Down */
#selection {
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:550px;
	height:30px;
	margin-top:50px;
}

h3 {
	font-size:15px;
	font-weight:500;
}

p {
	padding:5px;
}

div.result_box {
	border:1px solid #A7A7A7;
	padding:5px;
	margin:0px 10px 10px;
	overflow:auto;
}

div.headline {
	display:inline-block;
	margin-bottom:5px;
}

div.entry {
	height:110px;
}

div.traveltype_box {
	float:right;
	display:inline-block;
	height:105px;
	width:125px;
	padding:0px;
	margin:0px;
	text-align:center;
	overflow:hidden;
}

div.userpic {
	float:left;
	display:inline-block;
}

div.inner_content {
	float:left;
	display:inline-block;
	padding-top:15px;
	vertical-align:top;
	padding-left:15px;
	margin-left:auto;
	margin-right:auto;
}

span.inner {
	display:inline-block;
}

span.price {
	display:inline-block;
	font-size:12px;
}

span.numberofseat {
	display:inline-block;
	font-size:12px;
}

span.date {
	display:inline-block;
	font-size:15px;
	font-weight:500;
}

img.icon {
	height:20px;
	width:20px;
}

img.profile {
	height:80px;
	width:80px;
}

strong.traveltext {
	font-size:13px;
}

strong.name {
	margin-top:5px;
	font-size:14px;
}

strong.source {
	font-size:14px;
}

.title {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#FF0000; /* Color code for Red */
}

span.price {
	display: inline-block;
	font-size: 12px;
}

img.icon {
	height: 20px;
	width: 20px;
}

img.profile {
	height: 80px;
	width: 80px;
}

strong.traveltext {
	font-size: 13px;
}

.title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #FF0000; /* Color code for Red */
}
